
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(201, 63, 63);
    background-image: -webkit-linear-gradient(6deg, #F18E9A 19%, rgb(201, 63, 63) 64%);
    font-family: 'helvetica neue';
}
.container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 500px;
    margin: 4rem auto ;
    text-align: center;
    background-color: rgb(240, 178, 167);
    
}
#header{
    padding-top: 3rem;
    color: white;
}
form{
    margin: 30px auto;
    padding-bottom: 2rem;
}
input{
    width: 80%;
    height: 50px;
    font-size: 25px;
}
p{
    font-size: 20px;
}

input[type="checkbox"]:checked+p{
    text-decoration: line-through;
    text-decoration-color: #dd0000;
    color: gray;

}
.submit{
    position: relative;
    top: 5px;
    min-height: 50px;
    width: 50px;
    font-size: 40px;
    border-radius: 50%;
    background: white;
    border:1px solid rgb(185, 103, 103)
}


.list-item{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid rgb(255, 249, 249);
    flex-direction: row-reverse;
}
.remove{
    font-size: 20px;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    transition: 0.4s;
    height: 20px;
    width: 20px;
}